.hero-section {
    min-height: 90vh;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 5%;
    overflow: hidden;
    box-sizing: border-box;
}

.tech-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-section .glass-container {
    
    align-items: center;    
    max-width: 800px;
    padding: 3rem;
    position: relative;
}

.hero-logo-img {
    width: 30vw;
    filter: drop-shadow(0 0 40px #ffffffec) ;
    
}

.hero-section h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    background: linear-gradient(90deg, white, var(--tech-cyan));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.hero-section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    opacity: 0.9;
} 



@media only screen and (max-width: 700px) {
    .hero-section {
        flex-direction: column;
        padding: 0 2%;
        min-height: 70vh;
    }
    .hero-section .glass-container {
        padding: 1.5rem;
        max-width: 100%;
    }
    .hero-section h1 {
        font-size: 2rem;
        text-align: center;
    }
    .hero-section p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .hero-logo-img {
        width: 70vw;
        margin: 1.5rem 0;
    }
}

/* @media only screen and (max-width: 600px) {
    .hero-section h1 {
        font-size: 1.3rem;
        display: grid;
        row-gap: 5x;
        column-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'logo logo'
            'txt txt';

    }


    .container-grid {
        grid-area: txt;
        border: 1px solid rgba(255, 255, 255, 0.2);
    }

    .hero-logo-grid{
        grid-area: logo;
        
    }
    .hero-section .glass-container {
        padding: 1rem;
    }
    .hero-logo-img {
        width: 70vw;
    }
} */

@media only screen and (max-width: 600px) {
    .hero-section {
        flex-direction: column;
        justify-content: flex-start; /* Alinha os itens no topo */
        padding-top: 2rem; /* Espaço no topo */
    }
    
    .hero-section h1 {
        font-size: 1.3rem;
        text-align: center;
    }
    
    /* Remove as propriedades de grid que não estão funcionando */
    .container-grid {
       margin-top: 5px;
       padding-top: 0;
        
    }
    
    .hero-logo {
        order: -1; /* Coloca o logo antes dos outros elementos */
        margin-top: 0;
        
    }
    
    .hero-logo-img {
        width: 70vw;
    }
    
    .hero-section .glass-container {
        padding: 1rem;
    }
}